<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<div>
            <h1 th:text = "${titre}"> </h1>
              <h1 th:text = "${cle}"> </h1>
           <h1 th:text = "${fab}"> </h1>
           <h1 th:text = "${vrai}"> </h1>
         </div>   
          <div>
            
            
            <img alt="" src="https://upload.wikimedia.org/wikipedia/fr/d/d0/Spring_framework.png"/>
            
            
            </div>
           <br/>
           <br/>
           
            <div>
            <p> En informatique, Spring est un framework libre pour construire et définir l'infrastructure d'une application java4, dont il facilite le développement et les tests.

En 2004, Rod Johnson a écrit le livre Expert One-on-One J2EE Design and Development5 qui explique les raisons de la création de Spring. </p>
            
          </div>    
</body>
</html>